In [6]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import json

In [7]:
filenames=[]
for file in os.listdir('E:\odis'):
    filenames.append(os.path.join('E:\odis',file))

In [8]:
filenames[0:5]

['E:\\odis\\1000887.yaml',
 'E:\\odis\\1000889.yaml',
 'E:\\odis\\1000891.yaml',
 'E:\\odis\\1000893.yaml',
 'E:\\odis\\1000895.yaml']

In [10]:
final_df=pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file,'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = final_df._append(df)
        counter+=1

100%|█████████████████████████████████████████████████████████████████████████████▉| 2033/2034 [18:11<00:00,  1.86it/s]

ParserError: expected '<document start>', but found '<scalar>'
  in "E:\odis\config.py", line 17, column 1

In [11]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-14,2,Brisbane,[2017-01-13],male,ODI,92.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-18,1,NaN,[2017-01-15],male,ODI,NaN,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2017-01-21,1,Perth,[2017-01-19],male,ODI,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-22,1,NaN,[2017-01-22],male,ODI,86.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-28,1,NaN,[2017-01-26],male,ODI,57.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2016-07-13,1,Belfast,[2016-07-12],male,ODI,39.0,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2016-07-20,1,Belfast,[2016-07-17],male,ODI,79.0,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2016-07-20,1,Belfast,[2016-07-19],male,ODI,12.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",0.9,2016-08-20,1,Edinburgh,[2016-08-14],male,ODI,98.0,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2016-08-20,1,Edinburgh,[2016-08-16],male,ODI,NaN,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
backup=final_df.copy()

In [13]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-14,2,Brisbane,[2017-01-13],male,ODI,92.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-18,1,NaN,[2017-01-15],male,ODI,NaN,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2017-01-21,1,Perth,[2017-01-19],male,ODI,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-22,1,NaN,[2017-01-22],male,ODI,86.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-28,1,NaN,[2017-01-26],male,ODI,57.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2016-07-13,1,Belfast,[2016-07-12],male,ODI,39.0,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2016-07-20,1,Belfast,[2016-07-17],male,ODI,79.0,Afghanistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2016-07-20,1,Belfast,[2016-07-19],male,ODI,12.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",0.9,2016-08-20,1,Edinburgh,[2016-08-14],male,ODI,98.0,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2016-08-20,1,Edinburgh,[2016-08-16],male,ODI,NaN,Scotland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
pd.set_option('display.max_columns', None)
final_df.head()

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.outcome.by.wickets,info.outcome.result,info.outcome.method,info.neutral_venue,info.match_type_number,info.outcome.eliminator,info.supersubs.Australia,info.supersubs.England,info.supersubs.Africa XI,info.supersubs.Asia XI,info.supersubs.Zimbabwe,info.supersubs.Sri Lanka,info.supersubs.Bangladesh,info.supersubs.New Zealand,info.supersubs.India,info.supersubs.ICC World XI,info.supersubs.South Africa,info.supersubs.Pakistan,info.supersubs.West Indies
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-14,2,Brisbane,[2017-01-13],male,ODI,92.0,Australia,50,[MS Wade],"[Australia, Pakistan]",bat,Australia,"[MD Martell, C Shamshuddin]","Brisbane Cricket Ground, Woolloongabba",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-18,1,NaN,[2017-01-15],male,ODI,NaN,Pakistan,50,[Mohammad Hafeez],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, P Wilson]",Melbourne Cricket Ground,2,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2017-01-21,1,Perth,[2017-01-19],male,ODI,NaN,Australia,50,[SPD Smith],"[Australia, Pakistan]",field,Australia,"[SD Fry, C Shamshuddin]",Western Australia Cricket Association Ground,3,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-22,1,NaN,[2017-01-22],male,ODI,86.0,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, MD Martell]",Sydney Cricket Ground,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-01-28,1,NaN,[2017-01-26],male,ODI,57.0,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[SD Fry, C Shamshuddin]",Adelaide Oval,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.supersubs.South Africa',
    'info.supersubs.Australia',
    'info.supersubs.England',
    'info.supersubs.Africa XI',
    'info.supersubs.Asia XI',
    'info.supersubs.Zimbabwe',
    'info.supersubs.Sri Lanka',
    'info.supersubs.Bangladesh',
    'info.supersubs.India',
    'info.supersubs.ICC World XI',
    'info.supersubs.Pakistan',
    'info.supersubs.West Indies',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [16]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,[2017-01-13],male,ODI,Australia,50,[MS Wade],"[Australia, Pakistan]",bat,Australia,"[MD Martell, C Shamshuddin]","Brisbane Cricket Ground, Woolloongabba",1
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-15],male,ODI,Pakistan,50,[Mohammad Hafeez],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, P Wilson]",Melbourne Cricket Ground,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Perth,[2017-01-19],male,ODI,Australia,50,[SPD Smith],"[Australia, Pakistan]",field,Australia,"[SD Fry, C Shamshuddin]",Western Australia Cricket Association Ground,3
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-22],male,ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, MD Martell]",Sydney Cricket Ground,4
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-26],male,ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[SD Fry, C Shamshuddin]",Adelaide Oval,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-12],male,ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",field,Ireland,"[AJ Neill, IN Ramage]","Civil Service Cricket Club, Stormont",2029
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],male,ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,"[AJ Neill, C Shamshuddin]","Civil Service Cricket Club, Stormont",2030
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],male,ODI,Ireland,50,NaN,"[Ireland, Afghanistan]",field,Afghanistan,"[R Black, C Shamshuddin]","Civil Service Cricket Club, Stormont",2031
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],male,ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2032
0,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],male,ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2033

In [17]:
final_df['info.gender'].value_counts()

info.gender
male      1799
female     234
Name: count, dtype: int64

In [18]:
final_df = final_df[final_df['info.gender']=='male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

C:\Users\User\AppData\Local\Temp\ipykernel_9592\1101213280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,[2017-01-13],ODI,Australia,50,[MS Wade],"[Australia, Pakistan]",bat,Australia,"[MD Martell, C Shamshuddin]","Brisbane Cricket Ground, Woolloongabba",1
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-15],ODI,Pakistan,50,[Mohammad Hafeez],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, P Wilson]",Melbourne Cricket Ground,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Perth,[2017-01-19],ODI,Australia,50,[SPD Smith],"[Australia, Pakistan]",field,Australia,"[SD Fry, C Shamshuddin]",Western Australia Cricket Association Ground,3
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-22],ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, MD Martell]",Sydney Cricket Ground,4
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-26],ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[SD Fry, C Shamshuddin]",Adelaide Oval,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-12],ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",field,Ireland,"[AJ Neill, IN Ramage]","Civil Service Cricket Club, Stormont",2029
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,"[AJ Neill, C Shamshuddin]","Civil Service Cricket Club, Stormont",2030
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],ODI,Ireland,50,NaN,"[Ireland, Afghanistan]",field,Afghanistan,"[R Black, C Shamshuddin]","Civil Service Cricket Club, Stormont",2031
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2032
0,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2033

In [19]:
final_df['info.match_type'].value_counts()

info.match_type
ODI    1799
Name: count, dtype: int64

In [20]:
final_df['info.overs'].value_counts()

info.overs
50    1799
Name: count, dtype: int64

In [21]:
import pickle
pickle.dump(final_df,open('new_pkl.pkl','wb'))

In [22]:
matches=pickle.load(open('new_pkl.pkl','rb'))
matches

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,[2017-01-13],ODI,Australia,50,[MS Wade],"[Australia, Pakistan]",bat,Australia,"[MD Martell, C Shamshuddin]","Brisbane Cricket Ground, Woolloongabba",1
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-15],ODI,Pakistan,50,[Mohammad Hafeez],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, P Wilson]",Melbourne Cricket Ground,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Perth,[2017-01-19],ODI,Australia,50,[SPD Smith],"[Australia, Pakistan]",field,Australia,"[SD Fry, C Shamshuddin]",Western Australia Cricket Association Ground,3
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-22],ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, MD Martell]",Sydney Cricket Ground,4
0,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-26],ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[SD Fry, C Shamshuddin]",Adelaide Oval,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-12],ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",field,Ireland,"[AJ Neill, IN Ramage]","Civil Service Cricket Club, Stormont",2029
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,"[AJ Neill, C Shamshuddin]","Civil Service Cricket Club, Stormont",2030
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],ODI,Ireland,50,NaN,"[Ireland, Afghanistan]",field,Afghanistan,"[R Black, C Shamshuddin]","Civil Service Cricket Club, Stormont",2031
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2032
0,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2033

In [23]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.4: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.5: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {0.6: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.7: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.1: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.6: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.1: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.3: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.4: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.5: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.6: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.3: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.5: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.6: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.1: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.2: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'DA Warner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.3: {'batsman': 'DA Warner',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'DA Warner'}}},
 {4.4: {'batsman': 'SPD Smith',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['Mohammad Rizwan'],
    'kind': 'caught',
    'player_out': 'SPD Smith'}}},
 {4.5: {'batsman': 'CA Lynn',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.6: {'batsman': 'CA Lynn',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.1: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.3: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.4: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'non_boundary': 1, 'total': 4}}},
 {5.5: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.6: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.7: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.2: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.3: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.4: {'batsman': 'CA Lynn',
   'bowler': 'Mohammad Amir',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {6.5: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.6: {'batsman': 'TM Head',
   'bowler': 'Mohammad Amir',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.1: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {7.2: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.4: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.5: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 4, 'extras': 0, 'non_boundary': 1, 'total': 4}}},
 {7.6: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.1: {'batsman': 'CA Lynn',
   'bowler': 'Wahab Riaz',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {8.2: {'batsman': 'CA Lynn',
   'bowler': 'Wahab Riaz',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.3: {'batsman': 'TM Head',
   'bowler': 'Wahab Riaz',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.4: {'batsman': 'TM Head',
   'bowler': 'Wahab Riaz',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.5: {'batsman': 'TM Head',
   'bowler': 'Wahab Riaz',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.6: {'batsman': 'TM Head',
   'bowler': 'Wahab Riaz',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.7: {'batsman': 'TM Head',
   'bowler': 'Wahab Riaz',
   'non_striker': 'CA Lynn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.1: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.2: {'batsman': 'CA Lynn',
   'bowler': 'Hasan Ali',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['Mohammad Rizwan'],
    'kind': 'caught',
    'player_out': 'CA Lynn'}}},
 {9.3: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.4: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.5: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.6: {'batsman': 'TM Head',
   'bowler': 'Hasan Ali',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'TM Head',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.2: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.3: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.4: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.5: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.2: {'batsman': 'MR Marsh',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.3: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.5: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.3: {'batsman': 'TM Head',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'TM Head',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['Mohammad Rizwan'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {13.1: {'batsman': 'MR Marsh',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.2: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.3: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.4: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.5: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Hafeez',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.1: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.2: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.3: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.4: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.5: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.1: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.2: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {15.3: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.4: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'MR Marsh',
   'bowler': 'Wahab Riaz',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.6: {'batsman': 'MR Marsh',
   'bowler': 'Wahab Riaz',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {16.1: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MR Marsh',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.2: {'batsman': 'MR Marsh',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['Mohammad Rizwan'],
    'kind': 'caught',
    'player_out': 'MR Marsh'}}},
 {16.3: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {17.1: {'batsman': 'MS Wade',
   'bowler': 'Wahab Riaz',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.3: {'batsman': 'MS Wade',
   'bowler': 'Wahab Riaz',
   'extras': {'wides': 1},
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'MS Wade',
   'bowler': 'Wahab Riaz',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {17.5: {'batsman': 'MS Wade',
   'bowler': 'Wahab Riaz',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {17.7: {'batsman': 'GJ Maxwell',
   'bowler': 'Wahab Riaz',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.1: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.2: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.3: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.4: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.5: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.1: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.2: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.3: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Amir',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.4: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.5: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Mohammad Amir',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {20.1: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {20.2: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {20.3: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {20.4: {'batsman': 'MS Wade',
   'bowler': 'Imad Wasim',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {20.5: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {20.6: {'batsman': 'GJ Maxwell',
   'bowler': 'Imad Wasim',
   'non_striker': 'MS Wade',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {21.1: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {21.2: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {21.3: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {21.4: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {21.5: {'batsman': 'MS Wade',
   'bowler': 'Mohammad Amir',
   'non_striker': 'GJ Maxwell',

In [24]:
count=1
delivery_df=pd.DataFrame()
for index,row in matches.iterrows():
    if count in [75,100,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match=[]
    batsman=[]
    bowler=[]
    runs=[]
    player_of_dismissed=[]
    teams=[]
    batting_team=[]
    match_id=[]
    city=[]
    venue=[]
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df=pd.DataFrame({
        'match_id':match_id,
        'teams':teams,
        'batting_team':batting_team,
        'ball':ball_of_match,
        'batsman':batsman,
        'bowler':bowler,
        'runs':runs,
        'player_dismissed':player_of_dismissed,
        'city':city,
        'venue':venue
    })
    delivery_df=delivery_df._append(loop_df)

In [25]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Pakistan]",Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
1,2,"[Australia, Pakistan]",Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
2,2,"[Australia, Pakistan]",Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
3,2,"[Australia, Pakistan]",Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
4,2,"[Australia, Pakistan]",Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
...,...,...,...,...,...,...,...,...,...,...
281,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,44.6,Ahmed Raza,CB Sole,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
282,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.1,Fayyaz Ahmed,AC Evans,1,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
283,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.2,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
284,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.3,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
285,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.4,Ahmed Raza,AC Evans,0,Ahmed Raza,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"

In [26]:
#to get bowling team
def bowl(row):
    for team in row['teams']:
        if(team) !=row['batting_team']:
            return team

In [27]:
delivery_df['bowling_team']=delivery_df.apply(bowl,axis=1)

In [28]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Pakistan]",Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
1,2,"[Australia, Pakistan]",Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
2,2,"[Australia, Pakistan]",Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
3,2,"[Australia, Pakistan]",Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
4,2,"[Australia, Pakistan]",Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
...,...,...,...,...,...,...,...,...,...,...,...
281,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,44.6,Ahmed Raza,CB Sole,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
282,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.1,Fayyaz Ahmed,AC Evans,1,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
283,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.2,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
284,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.3,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
285,1800,"[Scotland, United Arab Emirates]",United Arab Emirates,45.4,Ahmed Raza,AC Evans,0,Ahmed Raza,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland

In [29]:
delivery_df.drop(columns=['teams'],inplace=True)

In [30]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
1,2,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
2,2,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
3,2,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
4,2,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
...,...,...,...,...,...,...,...,...,...,...
281,1800,United Arab Emirates,44.6,Ahmed Raza,CB Sole,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
282,1800,United Arab Emirates,45.1,Fayyaz Ahmed,AC Evans,1,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
283,1800,United Arab Emirates,45.2,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
284,1800,United Arab Emirates,45.3,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland
285,1800,United Arab Emirates,45.4,Ahmed Raza,AC Evans,0,Ahmed Raza,Edinburgh,"Grange Cricket Club Ground, Raeburn Place",Scotland

In [31]:
delivery_df['batting_team'].unique()

array(['Australia', 'Pakistan', 'Afghanistan', 'Scotland', 'Zimbabwe',
       'New Zealand', 'Bangladesh', 'South Africa', 'India', 'England',
       'Sri Lanka', 'Hong Kong', 'Papua New Guinea', 'West Indies',
       'Ireland', 'United Arab Emirates', 'Nepal',
       'United States of America', 'Namibia', 'Oman', 'Africa XI',
       'Kenya', 'Bermuda', 'Netherlands', 'Canada', 'Asia XI'],
      dtype=object)

In [32]:
teams= [
    'India',
    'Pakistan',
    'Australia',
    'South Africa',
    'New Zealand',
    'England',
    'Bangladesh',
    'Sri Lanka',
    'Afghanistan',
    'Netherlands'
]

In [33]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [34]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
1,2,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
2,2,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
3,2,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
4,2,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan
...,...,...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,39.5,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia
245,1795,Sri Lanka,39.6,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia
246,1795,Sri Lanka,39.7,SS Pathirana,MA Starc,1,0,NaN,Pallekele International Cricket Stadium,Australia
247,1795,Sri Lanka,40.1,SS Pathirana,SM Boland,0,0,NaN,Pallekele International Cricket Stadium,Australia
248,1795,Sri Lanka,40.2,SS Pathirana,SM Boland,0,SS Pathirana,NaN,Pallekele International Cricket Stadium,Australia

In [35]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [36]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Pakistan,0.1,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
1,2,Australia,Pakistan,0.2,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
2,2,Australia,Pakistan,0.3,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
3,2,Australia,Pakistan,0.4,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
4,2,Australia,Pakistan,0.5,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,NaN,Pallekele International Cricket Stadium
245,1795,Sri Lanka,Australia,39.6,0,0,NaN,Pallekele International Cricket Stadium
246,1795,Sri Lanka,Australia,39.7,1,0,NaN,Pallekele International Cricket Stadium
247,1795,Sri Lanka,Australia,40.1,0,0,NaN,Pallekele International Cricket Stadium
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,NaN,Pallekele International Cricket Stadium

In [37]:
output.isnull().sum()

match_id                0
batting_team            0
bowling_team            0
ball                    0
runs                    0
player_dismissed        0
city                55774
venue                   0
dtype: int64

In [38]:
output['city'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
244     True
245     True
246     True
247     True
248     True
Name: city, Length: 310644, dtype: bool

In [39]:
output[output['city'].isnull()]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,3,Australia,Pakistan,0.1,3,0,NaN,Melbourne Cricket Ground
1,3,Australia,Pakistan,0.2,0,0,NaN,Melbourne Cricket Ground
2,3,Australia,Pakistan,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,Australia,Pakistan,0.4,1,0,NaN,Melbourne Cricket Ground
4,3,Australia,Pakistan,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,NaN,Pallekele International Cricket Stadium
245,1795,Sri Lanka,Australia,39.6,0,0,NaN,Pallekele International Cricket Stadium
246,1795,Sri Lanka,Australia,39.7,1,0,NaN,Pallekele International Cricket Stadium
247,1795,Sri Lanka,Australia,40.1,0,0,NaN,Pallekele International Cricket Stadium
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,NaN,Pallekele International Cricket Stadium

In [40]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Rangiri Dambulla International Stadium     9450
Sydney Cricket Ground                      9287
Melbourne Cricket Ground                   7778
Adelaide Oval                              7166
Dubai International Cricket Stadium        6314
Pallekele International Cricket Stadium    5945
Sharjah Cricket Stadium                    4291
Harare Sports Club                         1538
Chittagong Divisional Stadium               900
Multan Cricket Stadium                      883
Rawalpindi Cricket Stadium                  617
Perth Stadium                               526
Dubai Sports City Cricket Stadium           518
Sharjah Cricket Association Stadium         303
Queenstown Events Centre                    258
Name: count, dtype: int64

In [41]:
import numpy as np

In [42]:
cities=np.where(output['city'].isnull(),output['venue'].str.split().apply(lambda x:x[0]),output['city'])

In [43]:
output['venue'].str.split().apply(lambda x:x[0])

0       Brisbane
1       Brisbane
2       Brisbane
3       Brisbane
4       Brisbane
         ...
244    Pallekele
245    Pallekele
246    Pallekele
247    Pallekele
248    Pallekele
Name: venue, Length: 310644, dtype: object

In [44]:
output['city']=cities

C:\Users\User\AppData\Local\Temp\ipykernel_9592\3153674434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city']=cities

In [45]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [46]:
output.drop(columns=['venue'],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_9592\2962604362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.drop(columns=['venue'],inplace=True)

In [47]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Pakistan,0.1,0,0,Brisbane
1,2,Australia,Pakistan,0.2,0,0,Brisbane
2,2,Australia,Pakistan,0.3,0,0,Brisbane
3,2,Australia,Pakistan,0.4,0,0,Brisbane
4,2,Australia,Pakistan,0.5,1,0,Brisbane
...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,Pallekele
245,1795,Sri Lanka,Australia,39.6,0,0,Pallekele
246,1795,Sri Lanka,Australia,39.7,1,0,Pallekele
247,1795,Sri Lanka,Australia,40.1,0,0,Pallekele
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele

In [48]:
eligible_cities = output['city'].value_counts().index.tolist()

In [49]:
output=output[output['city'].isin(eligible_cities)]

In [50]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Pakistan,0.1,0,0,Brisbane
1,2,Australia,Pakistan,0.2,0,0,Brisbane
2,2,Australia,Pakistan,0.3,0,0,Brisbane
3,2,Australia,Pakistan,0.4,0,0,Brisbane
4,2,Australia,Pakistan,0.5,1,0,Brisbane
...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,Pallekele
245,1795,Sri Lanka,Australia,39.6,0,0,Pallekele
246,1795,Sri Lanka,Australia,39.7,1,0,Pallekele
247,1795,Sri Lanka,Australia,40.1,0,0,Pallekele
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele

In [51]:
print(output['runs'].dtype)

int64

In [52]:
output['runs'] = pd.to_numeric(output['runs'], errors='coerce')  # 'coerce' will handle non-numeric values by converting them to NaN

In [53]:
output['current_score'] = output.groupby('match_id')['runs'].cumsum()

In [54]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1
...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,Pallekele,194
245,1795,Sri Lanka,Australia,39.6,0,0,Pallekele,194
246,1795,Sri Lanka,Australia,39.7,1,0,Pallekele,195
247,1795,Sri Lanka,Australia,40.1,0,0,Pallekele,195
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195

In [55]:
#focus on balls and wickets left
#separating overs and balls
output['over']=output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no']=output['ball'].apply(lambda x:str(x).split(".")[1])

In [56]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5
...,...,...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,Pallekele,194,39,5
245,1795,Sri Lanka,Australia,39.6,0,0,Pallekele,194,39,6
246,1795,Sri Lanka,Australia,39.7,1,0,Pallekele,195,39,7
247,1795,Sri Lanka,Australia,40.1,0,0,Pallekele,195,40,1
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195,40,2

In [57]:
output['balls_bowled']=(output['over'].astype('int')*6)+output['ball_no'].astype('int')

In [58]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,0,Pallekele,194,39,5,239
245,1795,Sri Lanka,Australia,39.6,0,0,Pallekele,194,39,6,240
246,1795,Sri Lanka,Australia,39.7,1,0,Pallekele,195,39,7,241
247,1795,Sri Lanka,Australia,40.1,0,0,Pallekele,195,40,1,241
248,1795,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195,40,2,242

In [59]:
output['balls_left']=300- output['balls_bowled']
output['balls_left'] = output['balls_left'].apply(lambda x:0 if x<0 else x)

In [60]:
print(output[output['player_dismissed'] == '0'])

     match_id batting_team bowling_team  ball  runs player_dismissed  \
0           2    Australia     Pakistan   0.1     0                0
1           2    Australia     Pakistan   0.2     0                0
2           2    Australia     Pakistan   0.3     0                0
3           2    Australia     Pakistan   0.4     0                0
4           2    Australia     Pakistan   0.5     1                0
..        ...          ...          ...   ...   ...              ...
243      1795    Sri Lanka    Australia  39.4     5                0
244      1795    Sri Lanka    Australia  39.5     0                0
245      1795    Sri Lanka    Australia  39.6     0                0
246      1795    Sri Lanka    Australia  39.7     1                0
247      1795    Sri Lanka    Australia  40.1     0                0

          city  current_score over ball_no  balls_bowled  balls_left
0     Brisbane              0    0       1             1         299
1     Brisbane              0    0       2             2         298
2     Brisbane              0    0       3             3         297
3     Brisbane              0    0       4             4         296
4     Brisbane              1    0       5             5         295
..         ...            ...  ...     ...           ...         ...
243  Pallekele            194   39       4           238          62
244  Pallekele            194   39       5           239          61
245  Pallekele            194   39       6           240          60
246  Pallekele            195   39       7           241          59
247  Pallekele            195   40       1           241          59

[302303 rows x 12 columns]

In [61]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)

# Calculate cumulative sum of dismissals within each match
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()

# Calculate wickets left
output['wickets_left'] = 10 - output['player_dismissed']

# Ensure 'wickets_left' doesn't go below 0
output['wickets_left'] = output['wickets_left'].clip(lower=0)

In [62]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1
245,1795,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1
246,1795,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1
247,1795,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1
248,1795,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0

In [63]:
output['crr'] = (output['current_score']*6)/output['balls_bowled']

In [64]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10,0.000000
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10,0.000000
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10,0.000000
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10,0.000000
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,1795,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1,4.870293
245,1795,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1,4.850000
246,1795,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1,4.854772
247,1795,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1,4.854772
248,1795,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0,4.834711

In [70]:
groups = output.groupby('match_id')

match_ids = output['match_id'].unique()
last_five = []

for id in match_ids:
    group = groups.get_group(id)
    # Ensure 'runs' is numeric using .loc
    group.loc[:, 'runs'] = pd.to_numeric(group['runs'], errors='coerce')
    
    # Apply rolling sum only on 'runs' column
    rolling_sum = group['runs'].rolling(window=30).sum()
    
    last_five.extend(rolling_sum.values.tolist())

In [72]:
output['last_five'] = last_five

In [73]:
final_df = output.groupby('match_id').sum()['runs'].reset_index().merge(output,on='match_id')

In [74]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [75]:
final_df.dropna(inplace=True)

In [76]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [77]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
29,Australia,Pakistan,Brisbane,13,271,8,2.689655,13.0,268
30,Australia,Pakistan,Brisbane,13,270,8,2.600000,13.0,268
31,Australia,Pakistan,Brisbane,14,269,8,2.709677,14.0,268
32,Australia,Pakistan,Brisbane,15,268,8,2.812500,15.0,268
33,Australia,Pakistan,Brisbane,16,267,8,2.909091,16.0,268
...,...,...,...,...,...,...,...,...,...
310639,Sri Lanka,Australia,Pallekele,194,61,1,4.870293,24.0,195
310640,Sri Lanka,Australia,Pallekele,194,60,1,4.850000,23.0,195
310641,Sri Lanka,Australia,Pallekele,195,59,1,4.854772,24.0,195
310642,Sri Lanka,Australia,Pallekele,195,59,1,4.854772,23.0,195
310643,Sri Lanka,Australia,Pallekele,195,58,0,4.834711,22.0,195

In [78]:

final_df = final_df.sample(final_df.shape[0])

In [79]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
7498,India,Sri Lanka,London,48,240,10,4.800000,31.0,321
269417,Afghanistan,India,Mirpur,58,216,7,4.142857,16.0,159

In [80]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [81]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
195605,New Zealand,India,Bangalore,226,64,5,5.745763,33.0
157267,Pakistan,Sri Lanka,Colombo,194,84,7,5.388889,29.0
72654,Sri Lanka,India,Chandigarh,71,191,5,3.908257,10.0
97298,Sri Lanka,Australia,Grenada,27,264,8,4.500000,16.0
251126,Australia,England,Melbourne,235,62,5,5.924370,42.0
...,...,...,...,...,...,...,...,...
42827,Sri Lanka,England,Leeds,31,252,8,3.875000,27.0
66842,England,Australia,Manchester,32,242,8,3.310345,8.0
159229,Australia,Pakistan,Adelaide,44,242,10,4.551724,29.0
11772,New Zealand,India,Ranchi,97,204,9,6.062500,15.0
276073,Australia,England,Southampton,32,259,10,4.682927,23.0

In [84]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [83]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in e:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in e:\anaconda\lib\site-packages (from xgboost) (1.11.4)
Downloading xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB 320.0 kB/s eta 0:06:31
   ---------------------------------------- 0.1/124.9 MB 762.6 kB/s eta 0:02:44
   ---------------------------------------- 0.5/124.9 MB 3.6 MB/s eta 0:00:35
   ---------------------------------------- 1.3/124.9 MB 6.6 MB/s eta 0:00:19
    --------------------------------------- 1.9/124.9 MB 7.9 MB/s eta 0:00:16
    --------------------------------------- 2.9/124.9 MB 10.9 MB/s eta 0:00:12
   - -------------------------------------- 4.0/124.9 MB 12.9 MB/s eta 0:00:10
   - -------------------------------------- 5.5/124.9 MB 15.2 MB/s eta 0:00:08
   -- ------------------------------------- 7.0/124.9 MB 17.1 MB/s eta 0:00:07
   -- ------------------------------------- 8.5/124.9 MB 18.8 MB/s eta 0:00:07
   --- ------------------------------------ 10.1/124.9 MB 20.3 MB/s eta 0:00:06
   --- ------------------------------------ 12.0/124.9 MB 31.2 MB/s eta 0:00:04
   ---- ----------------------------------- 13.9/124.9 MB 34.4 MB/s eta 0:00:04
   ----- ---------------------------------- 16.2/124.9 MB 38.5 MB/s eta 0:00:03
   ----- ---------------------------------- 18.4/124.9 MB 43.5 MB/s eta 0:00:03
   ------ --------------------------------- 18.9/124.9 MB 43.7 MB/s eta 0:00:03
   ------ --------------------------------- 18.9/124.9 MB 43.7 MB/s eta 0:00:03
   ------ --------------------------------- 18.9/124.9 MB 43.7 MB/s eta 0:00:03
   ------ --------------------------------- 18.9/124.9 MB 43.7 MB/s eta 0:00:03
   ------ --------------------------------- 19.4/124.9 MB 23.4 MB/s eta 0:00:05
   ------ --------------------------------- 21.1/124.9 MB 22.6 MB/s eta 0:00:05
   ------- -------------------------------- 23.1/124.9 MB 22.6 MB/s eta 0:00:05
   ------- -------------------------------- 25.0/124.9 MB 22.6 MB/s eta 0:00:05
   -------- ------------------------------- 26.8/124.9 MB 22.6 MB/s eta 0:00:05
   --------- ------------------------------ 29.3/124.9 MB 38.5 MB/s eta 0:00:03
   ---------- ----------------------------- 31.4/124.9 MB 43.7 MB/s eta 0:00:03
   ---------- ----------------------------- 33.5/124.9 MB 43.7 MB/s eta 0:00:03
   ----------- ---------------------------- 35.8/124.9 MB 46.7 MB/s eta 0:00:02
   ----------- ---------------------------- 36.7/124.9 MB 40.9 MB/s eta 0:00:03
   ------------ --------------------------- 37.7/124.9 MB 43.5 MB/s eta 0:00:03
   ------------ --------------------------- 40.4/124.9 MB 38.5 MB/s eta 0:00:03
   ------------- -------------------------- 42.5/124.9 MB 38.5 MB/s eta 0:00:03
   -------------- ------------------------- 44.9/124.9 MB 38.5 MB/s eta 0:00:03
   --------------- ------------------------ 46.9/124.9 MB 46.7 MB/s eta 0:00:02
   --------------- ------------------------ 48.2/124.9 MB 46.9 MB/s eta 0:00:02
   ---------------- ----------------------- 50.9/124.9 MB 43.7 MB/s eta 0:00:02
   ---------------- ----------------------- 52.5/124.9 MB 43.7 MB/s eta 0:00:02
   ----------------- ---------------------- 54.7/124.9 MB 43.7 MB/s eta 0:00:02
   ------------------ --------------------- 56.6/124.9 MB 43.7 MB/s eta 0:00:02
   ------------------ --------------------- 58.3/124.9 MB 46.7 MB/s eta 0:00:02
   ------------------- -------------------- 59.7/124.9 MB 40.9 MB/s eta 0:00:02
   ------------------- -------------------- 61.7/124.9 MB 40.9 MB/s eta 0:00:02
   -------------------- ------------------- 63.3/124.9 MB 38.5 MB/s eta 0:00:02
   -------------------- ------------------- 65.1/124.9 MB 38.5 MB/s eta 0:00:02
   --------------------- ------------------ 67.4/124.9 MB 38.6 MB/s eta 0:00:02
   ---------------------- ----------------- 69.0/124.9 MB 38.6 MB/s eta 0:00:02
   ---------------------- ----------------- 71.2/124.9 MB 40.9 MB/s eta 0:00:02
   ----------------------- ---------------- 72.8/124.9 MB 40.9 MB/s eta 0:00:02
   ----------------------- ---------------- 74.2/124.9 MB 38.5 MB/s eta 0:00:02
   ------------------------ --------------- 75.6/124.9 MB 36.4 MB/s eta 0:00:02
   ------------------------ --------------- 77.0/124.9 MB 34.4 MB/s eta 0:00:02
   ------------------------- -------------- 78.5/124.9 MB 34.4 MB/s eta 0:00:02
   ------------------------- -------------- 80.0/124.9 MB 32.8 MB/s eta 0:00:02
   -------------------------- ------------- 81.3/124.9 MB 31.2 MB/s eta 0:00:02
   -------------------------- ------------- 83.0/124.9 MB 31.2 MB/s eta 0:00:02
   --------------------------- ------------ 84.4/124.9 MB 31.2 MB/s eta 0:00:02
   --------------------------- ------------ 85.8/124.9 MB 31.2 MB/s eta 0:00:02
   --------------------------- ------------ 87.2/124.9 MB 31.2 MB/s eta 0:00:02
   ---------------------------- ----------- 88.6/124.9 MB 29.7 MB/s eta 0:00:02
   ---------------------------- ----------- 89.9/124.9 MB 31.1 MB/s eta 0:00:02
   ----------------------------- ---------- 90.8/124.9 MB 28.5 MB/s eta 0:00:02
   ----------------------------- ---------- 92.0/124.9 MB 28.5 MB/s eta 0:00:02
   ------------------------------ --------- 93.9/124.9 MB 29.7 MB/s eta 0:00:02
   ------------------------------ --------- 95.4/124.9 MB 29.7 MB/s eta 0:00:01
   ------------------------------ --------- 96.7/124.9 MB 29.7 MB/s eta 0:00:01
   ------------------------------- -------- 98.4/124.9 MB 31.2 MB/s eta 0:00:01
   ------------------------------- ------- 100.1/124.9 MB 31.2 MB/s eta 0:00:01
   ------------------------------- ------- 101.6/124.9 MB 34.4 MB/s eta 0:00:01
   -------------------------------- ------ 103.4/124.9 MB 34.6 MB/s eta 0:00:01
   -------------------------------- ------ 104.9/124.9 MB 32.8 MB/s eta 0:00:01
   --------------------------------- ----- 106.6/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------- ----- 108.3/124.9 MB 34.4 MB/s eta 0:00:01
   ---------------------------------- ---- 110.0/124.9 MB 34.4 MB/s eta 0:00:01
   ---------------------------------- ---- 111.6/124.9 MB 34.4 MB/s eta 0:00:01
   ----------------------------------- --- 113.1/124.9 MB 34.4 MB/s eta 0:00:01
   ----------------------------------- --- 114.9/124.9 MB 34.4 MB/s eta 0:00:01
   ------------------------------------ -- 116.6/124.9 MB 34.6 MB/s eta 0:00:01
   ------------------------------------ -- 118.4/124.9 MB 36.4 MB/s eta 0:00:01
   ------------------------------------- - 120.0/124.9 MB 36.4 MB/s eta 0:00:01
   ------------------------------------- - 121.7/124.9 MB 36.4 MB/s eta 0:00:01
   --------------------------------------  123.4/124.9 MB 36.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------- 124.9/124.9 MB 8.1 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1

In [85]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [86]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [87]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

E:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9894440730581138
2.5211054086877005

In [88]:
pickle.dump(pipe,open('pkl_rp.pkl','wb'))